{% load static %}
<html>
  <head>
    
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Chart.js Example</title>

      <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- Bootstrap-datepicker CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

      <!-- Bootstrap-datepicker JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
      <link rel="stylesheet" href="{% static 'css\main.css' %}">
      
   
  </head>
<body>

<!-- sidebar -->
<div class="sidebar">
  <a class="active" id="dashboard">Dashboard</a>
  <a id="quantity">Data count</a>
  <a id="source_url">Source</a>
  
</div>

<!-- Page content -->

{% include 'options3.html' %}
{% include 'intensity.html' %}
{% include 'quantity.html' %}
{% include 'source_table.html' %}

<script>

document.addEventListener("DOMContentLoaded",async function(){

    
{% include 'quantity\sidebar.js' %}
{% include 'dashboard\options_data.js' %}
{% include 'dashboard\date_bubble.js' %}
{% include 'dashboard\date_bubble_1.js' %}
{% include 'dashboard\date_intensity.js' %}
{% include 'dashboard\date_pie_pestle.js' %}
{% include 'dashboard\date_doughnut_sector.js' %}
{% include 'dashboard\date_intensity_vs_country.js' %}
{% include 'dashboard\date_intensity_vs_region.js' %}
{% include 'dashboard\intensity_line_graph.js' %}
{% include 'dashboard\intensity_and_likelihood_bubble_graph.js' %}
{% include 'dashboard\intensity_and_relevance_bubble_graph.js' %}
{% include 'dashboard\pestle_pie_chart.js' %}
{% include 'dashboard\sector_doughnut_chart.js' %}
{% include 'dashboard\intensity_vs_country_chart.js' %}
{% include 'dashboard\intensity_vs_region_chart.js' %}

{% include 'quantity\quantity_sector.js' %}
{% include 'quantity\quantity_topic.js' %}
{% include 'quantity\quantity_pestle.js' %}
{% include 'quantity\quantity_region.js' %}
{% include 'quantity\quantity_country.js' %}
{% include 'quantity\quantity_source.js' %}

{% include 'source_table\source_filter.js' %}
 

})
</script>

</body>
</html>